table{

  width: 500px;
  height 500px;
  margin-bottom: 50px;
  margin-left: 50px;

}

td, th {
    border: 1px solid black;
    width: 30px !important;
    height 30px !important;
}


.hit-div{
    background-color: orange;
    border-radius: 100px;
}

p{
 text-align: center;
 margin-left: 5px;
}

