table{
  width: 40%;
  height 500px;
  margin-bottom: 50px;
  table-layout: fixed ;
  margin-right: 50px;
}

table td{
    border: 1px solid black;
    align-content: center;
     width: 55px;
     height: 25px;

}

.hit-div{
    background-color: orange;
    border-radius: 100px;
    max-width: 25px;
    max-height: 25px;
    margin: 0px;
    display: flex
}

.hit-div p {
    width: 20px;
    text-align: center
    align: center
}
p{
 text-align: center

}

 .draggable {
     float:left;
     height: 40px;
     background-color: gray;
 }

  .draggable p {
      text-align: center;
      padding: -20px 0 0 0;
      font-weight:900;
  }
  .draggable.ui-draggable-dragging {
      background: red;
  }

.patrol-boat{
    width: 91px;
    height: 21px;
    text-align: center;
    border-radius: 25px;


}

.carrier{
    width: 223px;
    height: 21px;
    margin-left: 10px;
    text-align: center;
    border-radius: 25px;
}

.battleship{
    width: 179px;
    height: 21px;
    margin-left: 10px;
    text-align: center;
    border-radius: 25px;
}

.submarine{
    width: 135px;
    height: 21px;
    margin-left: 10px;
    text-align: center;
    border-radius: 25px;

}

.destroyer{
    width: 135px;
    height: 21px;
    margin-left: 10px;
    text-align: center;
    border-radius: 25px;
}

.navy-yard{
    margin-bottom: 15px;
    height: 25px;
}

#turn1{
  background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     border-bottom:1px solid #444;
     cursor: pointer;
     -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
       transition: all 0.3s ease-in-out;
}
#turn2{
  background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
}
#turn3{
  background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
}

#turn4{
  background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
}

#turn5{
  background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
}

#rotating {  ;
-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.rotated {
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    }

.game-turn{
    text-align: center;
}

.container{

}

.col-4 {
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
}

#grid-background {
margin: 0px;
}
